{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center flex-column vh-100">
        <h1>Todo App</h1>
        <p>Zarządzaj swoimi zadaniami</p>
    </div>
{% endblock %}
