{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}
    <main>
        <div class="container">
            {{ id }}
        </div>
    </main>
{% endblock %}
